@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0f6d39;
  color: #FFF;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  word-spacing: 2px;
}
.HeadingTitle {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;

}
.App {
  margin:50px;
	width: 1251px;
	margin-top: 30px;
  margin-left:10px;
	-webkit-transform:scale(0.9);
}